.buttons-section{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.grid-section{
    width: 600px;
    height: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-squares{
    aspect-ratio: 1/ 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    border: 0.5px solid rgb(109, 108, 108);
}